<h1>Profile</h1>

<p><strong>Email:</strong> <%= @user.email %></p>

<%= form_with model: @user, url: profile_path, method: :patch do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: "name" %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>

<p><%= link_to "Edit account (email/password)", edit_user_registration_path %></p>


