<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Dev Meeting" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <% if user_signed_in? %>
          <span>Signed in as <%= current_user.name.presence || current_user.email %></span>
          |
          <%= render "shared/org_switcher" %>
          |
          <%= link_to "Home", root_path %>
          |
          <%= link_to "Organizations", organizations_path %>
          |
          <% if policy(:member).index? || policy(Role).index? %>
            Admin:
            <% if policy(:member).index? %>
              <%= link_to "Members", admin_members_path %>
            <% end %>
            <% if policy(Role).index? %>
              <% if policy(:member).index? %>|<% end %>
              <%= link_to "Roles", admin_roles_path %>
            <% end %>
            |
          <% end %>
          
          
          <%= link_to "Profile", profile_path %>
          |
          <%= link_to "Edit account", edit_user_registration_path %>
          |
          <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Home", root_path %>
          |
          <%= link_to "Sign in", new_user_session_path %>
          |
          <%= link_to "Sign up", new_user_registration_path %>
        <% end %>
      </nav>
    </header>

    <div id="flash" data-turbo-temporary>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
    </div>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
